In [1]:
#create a set to store the name of all animal
Animal={'lion','dog','cat','tiger','monkey'}
print(Animal)

{'lion', 'tiger', 'dog', 'cat', 'monkey'}

In [3]:
#add element to set
Animal.add('elephant')
print(Animal)

{'elephant', 'lion', 'tiger', 'dog', 'cat', 'monkey'}

In [8]:
#update set
A={"cat","dog"}
B={"horse","tiger"}
A.update(B)
print(A)

{'cat', 'horse', 'tiger', 'dog'}

In [24]:
#Write a Python program to create a set and add multiple items to it
a={'dog','cat','monkey'}
a.add('tiger')
print(a)

{'dog', 'cat', 'monkey', 'tiger'}

In [12]:
#Given a set{1, 2, 3, 4, 5}, write a Python program to add an element6to this set
x={1,2,3,4,5}
x.add(6)
print(x)

{1, 2, 3, 4, 5, 6}

In [13]:
#Write a Python program to remove an element 2 from the set{1, 2, 3, 4, 5}
x={1,2,3,4,5}
x.remove(2)
print(x)

{1, 3, 4, 5}

In [15]:
#How can you find the union of two sets{1, 2, 3}and{3, 4, 5}
x={1,2,3}
y={3,4,5}
z=x.union(y)
print(z)

{1, 2, 3, 4, 5}

In [16]:
#Write a Python program to find the intersection of sets{10, 20, 30, 40}and{30, 40, 50, 60}
x={10, 20, 30, 40}
y={30,40,50,60}
z=x.intersection(y)
print(z)

{40, 30}

In [22]:
#Given two sets{1, 2, 3}and{3, 4, 5}, write a Python program to find their difference
x={1,2,3}
y={3,4,5}
z=x.difference(y)
a=y.difference(x)
print(a)
print(z)

{4, 5}
{1, 2}

In [18]:
#Write a Python program to check if{1, 2}is a subset of{1, 2, 3, 4}
x={1,2}
y={1,2,3,4}
z=x.issubset(y)
print(z)

True

In [19]:
#How can you clear all elements from a set
x={1,2,3,4,5,6}
z=x.clear()
print(z)

None

In [20]:
#Write a Python program to find the length of a set{10, 20, 30, 40, 50}
x={10, 20, 30, 40, 50}
y=len(x)
print(y)

5

In [21]:
#Create two sets{1, 2, 3}and{4, 5, 6}and check if they are disjoint sets.
x={1,2,3}
y={4,5,6}
z=x.isdisjoint(y)
print(z)

True

In [ ]:
#difference between
#lambda and normal function
#list and tuple
#set and dictionary
#for loop and while loop

In [51]:
#write a program to find the most common element in list using set
def m_c(lst):
    uni_element=set(lst)
    max_count=0
    most_common=[]
    for i in uni_element:
        count=lst.count(i)
        if count > max_count:
            max_count=count
            most_common=[i]
        elif count == max_count:
            max_count=count
            most_common.append(i)
    print(most_common)
m_c([1,1,1,2,2,3,3,4])

[1]

In [55]:
#find unique vowels in string using set
def vowel(string):
    vowel={'a','e','i','o','u'}
    unique_string=set(string.lower())
    unique_vowels=unique_string.intersection(vowel)
    print(len(unique_vowels))
vowel("Hello World")

2

In [56]:
#create a dictionary :write python program to create a dictionary with keys as numbers from 1 to 5 and value as their squares(e.g.,{1:1,2:4,3:9,4:16,5:25
num={
    1:1,2:4,3:9,4:16,5:25
}
print(num)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [57]:
#Access Dictionary Values:
 
#Given the dictionary employee = {'name': 'John', 'age': 30, 'department': 'HR'}, write code to access and print the value associated with the key 'department'.
employee = {'name': 'John', 'age': 30, 'department': 'HR'}
result=employee.get('department')
print(result)

HR

In [58]:
#Update a Dictionary:
 
#Given the dictionary student = {'name': 'Alice', 'marks': 85}, write a program to update the marks to 95.
student = {'name': 'Alice', 'marks': 85}
student.update({'marks':95})
print(student)

{'name': 'Alice', 'marks': 95}

In [59]:
#Add a New Key-Value Pair:
 
#Write a program to add a new key 'subject' with value 'Math' to the dictionary grades = {'student': 'Emma', 'grade': 'A'}.
grades = {'student': 'Emma', 'grade': 'A'}
grades.update({'subject':'math'})
print(grades)

{'student': 'Emma', 'grade': 'A', 'subject': 'math'}

In [60]:
#Write a Python program to remove the key 'age' from the dictionary 
person = {'name': 'Sara', 'age': 25, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Sara', 'city': 'New York'}

In [63]:
#Check if a Key Exists:
 
#Write a Python function that checks if a given key exists in the dictionary inventory = {'apple': 10, 'banana': 5, 'orange': 8}.
def check(dictionary):
    if 'apple'in dictionary:
        print("key is exits")
    else:
        print("key is not exits")
check({'apple': 10, 'banana': 5, 'orange': 8})

key is exits

In [64]:
#Iterate Over a Dictionary:
 
#Write a Python program to iterate over the dictionary car = {'brand': 'Toyota', 'model': 'Corolla', 'year': 2022} and print each key-value pair.

car = {'brand': 'Toyota', 'model': 'Corolla', 'year': 2022}
for key, value in car.items():
    print(f"{key}: {value}")

brand: Toyota
model: Corolla
year: 2022

In [70]:
#Given two dictionaries, dict1 = {'a': 1, 'b': 2} anddict1 = {'b': 3, 'c': 4}, write a Python program to merge them into a single dictionary. If there are duplicate keys, the value from dict2 should overwrite dict1.
 
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
dict={**dict1,**dict2}
print(set(dict))

{'a', 'b', 'c'}

In [72]:
#Find the Maximum Value:
 
#Write a Python program to find the key with the highest value in the dictionary scores = {'Alice': 90, 'Bob': 85, 'Charlie': 92}
scores = {'Alice': 90, 'Bob': 85, 'Charlie': 92}
highest_score_key = max(scores, key=scores.get)

print("highest value:", highest_score_key)

highest value: Charlie

In [76]:
#Write a Python dictionary comprehension to create a dictionary where the keys are numbers from 1 to 5 and the values are the cubes of the keys (e.g., {1: 1, 2: 8, 3: 27, 4: 64, 5: 125})
x={x:x**3 for x in range(1,6)}
print(x)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [2]:
#Write a lambda function to add two numbers and use it to add 12 and 7
x=lambda x,y:(x+y)
print(x(12,7))

19

In [3]:
#Create a lambda function  that takes a number as input and returns its cube. Test it with the number 5
cube_lambda = lambda x: x**3
print(cube_lambda(5))

125

In [4]:
#Given a list of numbers [10, 15, 20, 25, 30], use a lambda function with the filter() method to get numbers that are divisible by 5.
x=[10,15,20,25,30]
num=list(filter(lambda x: x % 5 == 0,x))
print(num)

[10, 15, 20, 25, 30]

In [7]:
#You have a list of tuples with names and heights: [('John', 5.8), ('Anna', 5.5), ('Mike', 6.0)]. Use a lambda function with the sorted() method to sort this list by height in descending order.
heights = [('John', 5.8), ('Anna', 5.5), ('Mike', 6.0)]
sorted_heights = sorted(heights, key=lambda x: x[1], reverse=True)
print(sorted_heights)

[('Mike', 6.0), ('John', 5.8), ('Anna', 5.5)]

In [18]:
#Given a list[3, 6, 9, 12], use alambda functionwith the map() method to square each element in the list
#try on vs code error on jupyter 
lst = [3, 6, 9, 12]
M =list(map(lambda x: x**2, lst))
print(M)

TypeError: 'list' object is not callable

In [20]:
#Question 1
# Write a Python program that checks if a given number is positive, negative, or zero.
num=int(input("enter the number:"))
if num>0:
    print("number is positive",num)
elif num<0:
    print("number is negative",num)
else:
    print("number is zero",num)

enter the number: 3

number is positive 3

In [21]:
#Question 2: Write a Python program that checks if a given year is a leap year or not.
num=int(input("enter the year:"))
if num%4==0:
    print("leap year")
else:
    print("not leap year")

enter the year: 2024

leap year

In [24]:
#Question 3: Write a Python program to check if a given number is even or odd.
num=int(input("enter the number:"))
if num%2==0:
    print("even number:",num)
else:
    print("odd number:",num)

enter the number: 22

even number: 22

In [26]:
#Question 4: Write a Python program that accepts a number from the user and checks if it is divisible by 5 and 3.
num=int(input("enter the number:"))
if num%5==0:
     print(num," is divisible by 5 ")
elif num%3==0:
    print(num," is divisible by 3")
else:
    print(" is not divisible by 5 and 3 both")

enter the number: 20

20  is divisible by 5

In [29]:
#Question 5: Write a Python program that finds the largest of three given numbers.

def largest_number(a,b,c):
    if a>b and a>c:
        print("a is largest number")
    elif b>c and b>a:
        print("b is largest number")
    else:
        print("c is largest number")
largest_number(34,45,84)

c is largest number

In [32]:
#Question 6: Write a Python program that prints numbers from 1 to 10 using a while loop.
i=1
while i<11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [37]:
#Question 7: Write a Python program that calculates the sum of all numbers from 1 to a given number n using a while loop.
sum=0
i=1
while i<6:
    sum+=1
    print(i)
    i+=1
print(sum)

1
2
3
4
5
5

In [38]:
#Question 8: Write a Python program to find the factorial of a given number using a while loop.
def factorial(n):
    result = 1
    while n > 1:
        result *= n
        n -= 1
    return result
num = int(input("Enter a number: "))
if num < 0:
    print("Factorial is not defined for negative numbers.")
else:
    print(f"The factorial of {num} is {factorial(num)}")

Enter a number:  5

The factorial of 5 is 120

In [41]:
#Question 9: Write a Python program that asks the user to enter a number and keeps asking until the user enters a positive number.

while True:
    number = float(input("Please enter a number: "))
    if number > 0:
        print(" entering a positive number.")
        break
    else:
        print("The number is negative, try again.")

Please enter a number:  -6

The number is negative, try again.

Please enter a number:  5

 entering a positive number.

In [47]:
#Question 10: Write a Python program that prints the Fibonacci sequence up to n numbers using a while loop
num=10
a=0
b=1
j=0
while j<num:
    j=j+1
    print(a)
    a,b=b,a+b

0
1
1
2
3
5
8
13
21
34

In [1]:
#Question 1 How do you declare a string variable in Python?
#Example: Declare a string variable called greeting with the value "Hello, World!".
greeting="Hello, World!"
print(greeting)

Hello, World!

In [2]:
#Question 2: Write a Python program to find the length of a string.
#Example: For the string "Python", the output should be 6.
x="Python"
print(len(x))

6

In [4]:
#Question 3 How do you convert a string to uppercase in Python?
#Example: Convert"hello" to uppercase
x="hello"
y=x.upper()
print(y)

HELLO

In [8]:
#Question 4: Write a Python program to check if a string contains a specific substring.
#Example Check if the string"Data Science"contains the substring "Science"
x="Data Science"
y="Science"
z=y in x
print(z)

True

In [9]:
#Question 5: How can you replace a substring in a string with another substring?
#Example: Replace"cat"with"dog"in the string"The cat is on the mat"
x = "The cat is on the mat"
y= x.replace("cat", "dog")
print(y)

The dog is on the mat

In [11]:
#Question 6: Write a Python program to count the number of occurrences of a character in a string.
#Example: Count how many times the character'a'appears in"banana"
x="banana"
y=x.count('a')
print(y)

3

In [15]:
#Question 7: How do you reverse a string in Python?
#Example: Reverse the string"Python"to get"nohtyP"
x="Python"
print(x[::-1])

nohtyP

In [17]:
#Question 8: Write a Python program to check if a string is a palindrome.
#Example: Check if the string "madam" is a palindrome.
x="madam"
if x==x[::-1]:
   print("string is palindrome")
else:
   print("string is not palindrome")

string is palindrome

In [19]:
#Question 9: How can you split a string into a list of words?
#Example: Split the string"Python is fun"into a list of words.
x="Python is fun"
y=x.split()
print(y)

['Python', 'is', 'fun']

In [23]:
#Question 10: Write a Python program to remove whitespace from the beginning and end of a string.
#Example: Remove leading and trailing spaces from the string" Hello World "to get"Hello World"
x=" Hello World "
y=x.strip()
print(y)

Hello World

In [24]:
#Question 1: How do you use the .format() method to insert values into a string?
#Example: Format "My name is {} with the value "John".
x= "My name is {}".format("John")
print(x)

My name is John

In [30]:
#Question 2: How do you format a string using f-strings?
#Example: Use an f-string to print"I am 25 years old"where age is stored in a variable.
age = 25
x = f"I am {age} years old"
y = sorted(x)
print(y)

[' ', ' ', ' ', ' ', '2', '5', 'I', 'a', 'a', 'd', 'e', 'l', 'm', 'o', 'r', 's', 'y']

In [32]:
#Question 3: How can you format a floating-point number to 2 decimal places using the.format()method?
#Example: Format the number3.14159 to3.14
x="{}159".format(3.14)
print(x)

3.14159

In [34]:
#Question 4: Write a Python program to format a number with commas as thousands separators.
#Example: Format1000000as"1,000,000"
x="1{}000{}000".format(",",",")
print(x)

1,000,000

In [41]:
#Question 5: How do you pad a string to a fixed width using f-strings?
#Example: Pad"hello"to be 10 characters wide
x=f"{'hello':^10}"
print(x)

  hello

In [46]:
#Question 8: How can you format a string to include curly braces{}using.format()?
#Example: Print"The result is {value}"where value is 10, without causing a syntax error
x="The result is {}".format("10")
print(x)

The result is 10

In [47]:
#Question 10: How do you format multiple variables in a string using both positional and keyword arguments with the.format()method?
#Example: Format a string"Hello, my name is {0} and I am {age} years old"with values"Alice"and30
x="Hello, my name is {} and I am {} years old".format("Alice","30")
print(x)

Hello, my name is Alice and I am 30 years old

In [ ]:
                                           #file handling

In [12]:
#file handling
#1 basic Write a Python program to create a new text file named sample.txt and write the text "Hello, Python!" into it.
f=open('sample.txt',"w")
f.write("hello,Python!")
print("create succussesfully....")

create succussesfully....

In [15]:
#2Moderate:
#Write a Python program to read a text file named data.txt line by line and print each line.
f=open("data.txt ","w")
f.write("hello,welcome")
f=open("data.txt","r")
print(f.readline())

hello,welcome

In [16]:
#3 How do you open a file in Python for reading and writing? List the different file modes available ('r', 'w', 'a', 'r+', etc.).
f=open("data.txt","w")
f.write("hello , welcome to learn python..")
f=open("data.txt","r")
print(f.read())

hello , welcome to learn python..

In [18]:
#4 Write a Python program to append a new line "New data added" at the end of an existing file named log.txt without overwriting its content.
f=open("log.txt","w")
f.write("hello , welcome to learn python..")

f=open("log.txt","a")
f.write("New data added")
f.close()
f=open("log.txt","r")
print(f.read())

hello , welcome to learn python..New data added

In [19]:
# 5What is the purpose of the with statement in file handling? Explain with an example.
# Using the with statement to handle a file
file_path = "example.txt"

# Writing to the file
with open(file_path, "w") as file:
    file.write("Hello, world!\n")
    file.write("This is an example of using the with statement.")

# Reading from the file
with open(file_path, "r") as file:
    content = file.read()
    print("File contents:")
    print(content)

File contents:
Hello, world!
This is an example of using the with statement.

In [27]:
#6write a Python program to count the number of words in a text file named words.txt.
f=open("words.txt","w")
f.write("hello!, welcome")
f=open("words.txt","r")

content = f.read()  # Read the entire file content
words = content.split()  # Split the content into words using whitespace
word_count = len(words)  # Count the number of words

print("count number of words:",{word_count})

count number of words: {2}

In [28]:
# Create the words.txt file and write some text into it
with open("words.txt", "w") as f:
    f.write("Hello! This is a sample file containing multiple words.")

# Open the file in read mode and count the words
with open("words.txt", "r") as f:
    content = f.read()  # Read the entire file content
    words = content.split()  # Split the content into words using whitespace
    word_count = len(words)  # Count the number of words

print(f"The number of words in 'words.txt' is: {word_count}")

The number of words in 'words.txt' is: 9

In [ ]:
                                 #scope

In [29]:
#scope
# 1 What is the difference between local and global variables in Python? Provide an example for each.
#local variable A variable created inside a function belongs to the local scope of that function, and can only be used inside that function.
#while A variable created in the main body of the Python code is a global variable and belongs to the global scope.

#ex for local 
def myfunc():
    x=300
    print(x)
myfunc()

300

In [30]:
#ex for global
x=300
def myfunc():
    print(x)
myfunc()

300

In [33]:
#2 Write a Python function that uses a global variable and modifies its value inside the function. Demonstrate with an example.
x=300
def myfunc():
    global x
    x=200
    print(x)
myfunc()

200

In [37]:
#3 What is the output of the following code? Explain why.
#ans because we print x=10 outside the function and x=5 inside the function after calling function then output is 5 and 10 
x=10
def my_function1():
    x = 5
    print(x)
my_function1()
print(x)

5
10

In [38]:
#4Write a Python program to demonstrate the use of the nonlocal keyword inside nested functions.
def fun():
    x="abc"
    def fun2():
        nonlocal x
        x="xyz"
    fun2()
    return x
fun()

'xyz'

In [1]:
                 #datestime

In [3]:
import datetime
x=datetime.datetime.now()
print(x)

2024-11-18 15:02:31.537111

In [5]:
print(x.year)

2024