In [ ]:
#pandas is powerfull python labrary and use for data analyse and manupulation

In [ ]:
#installing pandas
#importing pandas as pd

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
#importing pandas labrary
import pandas as pd

In [ ]:
import pandas as pd
x=[10,30,50]
series=pd.Series(x)
print(series)

0    10
1    30
2    50
dtype: int64

In [ ]:
#creting a datset  from  a dictionary
data={"name":["utkarsha","kiran","shraddha"],
      "age":[22,21,20],
      "city":["pune","mumbai","junner"]}
x=pd.DataFrame(data)
print(x)

       name  age    city
0  utkarsha   22    pune
1     kiran   21  mumbai
2  shraddha   20  junner

In [ ]:
y=pd.index=[1,2,3]
print(y)

[1, 2, 3]

In [ ]:
#dataframe attributes
print(x.shape)

(3, 3)

In [ ]:
x.columns

Index(['name', 'age', 'city'], dtype='object')

In [ ]:
x.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
x.head()

       name  age    city
0  utkarsha   22    pune
1     kiran   21  mumbai
2  shraddha   20  junner

In [ ]:
x.tail(1)

       name  age    city
2  shraddha   20  junner

In [ ]:
x.dtypes

name    object
age      int64
city    object
dtype: object

In [ ]:
#data selction and filtering
#select row by label
x.loc[0]

name    utkarsha
age           22
city        pune
Name: 0, dtype: object

In [ ]:
#select row by index
x.iloc[1]

name     kiran
age         21
city    mumbai
Name: 1, dtype: object

In [ ]:
#filtering data information
filterdata=x[x["age"]>20]
print(filterdata)

       name  age    city
0  utkarsha   22    pune
1     kiran   21  mumbai

In [ ]:
#data manupulation
sorteddata=x.sort_values("age",ascending=False)
print(sorteddata)

       name  age    city
0  utkarsha   22    pune
1     kiran   21  mumbai
2  shraddha   20  junner

In [ ]:
sorteddata=x.sort_values("age",ascending=True)
print(sorteddata)

       name  age    city
2  shraddha   20  junner
1     kiran   21  mumbai
0  utkarsha   22    pune

In [ ]:
#delete column
#axis=1 it consider as column and axis=0 it consider as row
x=x.drop("city",axis=1)
print(x)

       name  age
0  utkarsha   22
1     kiran   21
2  shraddha   20

In [ ]:
x=x.drop(1,axis=0)
print(x)

       name  age
0  utkarsha   22
2  shraddha   20

In [ ]:
#add new column
x["rollno"]=[23,26]
print(x)

       name  age  rollno
0  utkarsha   22      23
2  shraddha   20      26

In [ ]:

#add new rows
x.loc[1]=["aryan",27,20,"male"]
print(x)

       name  age  rollno  gender
0  utkarsha   22      23  female
2     aryan   27      20  female
3     aryan   27      20    male
1     aryan   27      20    male

In [ ]:
x=x.drop(3,axis=0)
print(x)

       name  age  rollno  gender
0  utkarsha   22      23  female
2     aryan   27      20  female
1     aryan   27      20    male

In [ ]:
x=x.drop(2,axis=0)
print(x)

       name  age  rollno  gender
0  utkarsha   22      23  female
1     aryan   27      20    male

In [ ]:
x["city"]=["pune","mumbai"]
print(x)

       name  age  rollno  gender    city
0  utkarsha   22      23  female    pune
1     aryan   27      20    male  mumbai

In [ ]:
x.loc[2]=["dhruva",24,22,"female","nashik"]
print(x)

       name  age  rollno  gender    city
0  utkarsha   22      23  female    pune
1     aryan   27      20    male  mumbai
2    dhruva   24      22  female  nashik

In [ ]:
x.head(1)

       name  age  rollno  gender  city
0  utkarsha   22      23  female  pune

In [ ]:
x.loc[3]=["ruchika",20,21,"female","sangmner"]
print(x)

       name  age  rollno  gender      city
0  utkarsha   22      23  female      pune
1     aryan   27      20    male    mumbai
2    dhruva   24      22  female    nashik
3   ruchika   20      21  female  sangmner

In [ ]:
x["phone_no"]=[8742892,3487295,9574592,7589435]
print(x)

       name  age  rollno  gender      city  phone_no
0  utkarsha   22      23  female      pune   8742892
1     aryan   27      20    male    mumbai   3487295
2    dhruva   24      22  female    nashik   9574592
3   ruchika   20      21  female  sangmner   7589435

In [ ]:
df=x.sort_values("name",ascending=True)
print(df)

       name  age  rollno  gender      city  phone_no
1     aryan   27      20    male    mumbai   3487295
2    dhruva   24      22  female    nashik   9574592
3   ruchika   20      21  female  sangmner   7589435
0  utkarsha   22      23  female      pune   8742892

In [ ]:
x=x.drop(1,axis=0)
print(x)

       name  age  rollno  gender      city  phone_no
0  utkarsha   22      23  female      pune   8742892
2    dhruva   24      22  female    nashik   9574592
3   ruchika   20      21  female  sangmner   7589435

In [ ]:
x.shape

(3, 6)

In [ ]:
x.info

<bound method DataFrame.info of        name  age  rollno  gender      city  phone_no
0  utkarsha   22      23  female      pune   8742892
2    dhruva   24      22  female    nashik   9574592
3   ruchika   20      21  female  sangmner   7589435>

In [ ]:
x.dtypes

name        object
age          int64
rollno       int64
gender      object
city        object
phone_no     int64
dtype: object

In [ ]:
x.duplicated()

0    False
2    False
3    False
dtype: bool

In [ ]:
x.corr

<bound method DataFrame.corr of        name  age  rollno  gender      city  phone_no
0  utkarsha   22      23  female      pune   8742892
2    dhruva   24      22  female    nashik   9574592
3   ruchika   20      21  female  sangmner   7589435>