In [ ]:
#print second largest number form list by using function
def second_largest(num):
    lst = list(set(num))
    lst.sort()
    print("second largest number:", lst[-2])


second_largest([3, 1, 4, 4, 5])

second largest number: 4

In [ ]:
#square of even number

def square(num):
    sqr = []
    for i in num:
        if i % 2 == 0:
            sqr.append(i ** 2)
    print(sqr)

square([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

[4, 16, 36, 64, 100]

In [ ]:
#commulative sum
def commulative_sum(num):
    sum = 0
    commulative = []
    for i in num:
        sum += i
        commulative.append(sum)
    return commulative
print(commulative_sum([1, 2, 3, 4, 5]))

[1, 3, 6, 10, 15]

In [ ]:
#freq of element using dictinary
x=[1,1,2,3,3,4,1,2]
freq={}
for i in x:
    if i in freq:
        freq[i]+=1
    else:
        freq[i]=1
print(freq)

{1: 3, 2: 2, 3: 2, 4: 1}

In [ ]:
def freq(x):
  freq={}
  for i in x:
    if i in freq:
      freq[i]+=1
    else:
      freq[i]=1
  print(freq)

freq([1,1,2,3,3,4,1,2])

{1: 3, 2: 2, 3: 2, 4: 1}

In [ ]:
#squareof even number using list
x=[1,2,3,4,5]
lst=[i**2 for i in x if i%2==0]
print(lst)

[4, 16]

In [ ]:
#1st 25 natural number by using list comphression

x=[x for x in range(1,26)if x%5==0]
print(x)

[5, 10, 15, 20, 25]

In [ ]:
#7 table
x=[]
for i in range(1,11):
  num = i*7
  x.append(num)
print(x)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [ ]:
fruits=['a','b','c','d','e']
if 'c' in fruits:
  print("c is available")
else:
  print("c is not avilable")

c is available

In [ ]:
#even and odd using list comphression
x=[x for x in range(1,21)if x%2==0 ]
y=[y for y in range(1,21)if y%2!=0]
print(x)
print(y)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#index position of number
a=(1,2,3,4,5,6)
print(a.index(5))

4

In [ ]:
#index position of number using function
def index(a):
  print(a.index(5))
index((1,2,3,4,5,6))

4

In [ ]:

print(a.index(3))

2

In [ ]:

print(a.index(2))

1

In [ ]:

print(a.index(5))

4

In [ ]:
s=(1,2,3,4,5,6,7,8,9)
print(s.index(7))

6

In [ ]:
#creat function to find largest among 3 number
def Largest(a,b,c):
  if a>b and a>c:
    print("largest amount is a ",a)
  elif b>a and b>c:
    print("largest amount is b ",b)
  else:
    print("largest amount is c ",c)
Largest(2,3,1)

largest amount is b  3

In [ ]:
Largest(234,465,3245)

largest amount is c  3245

In [ ]:
x=int(input("enter the number"))
def square_root(x):
  print(x**0.5)
square_root(x)

enter the number4
2.0

In [ ]:
#wirite pyhton program to print even or odd number
x=int(input("enter the number"))
def even_odd(x):
if x%2==0:
  print("even number")
else:
  print("odd number")
even_odd(x)

enter the number3
odd number

In [ ]:
def palindrome(x):
  if x==x[::-1]:
    print("palindrome")
  else:
    print("not palindrome")
palindrome("madam")

palindrome

In [ ]:
radius=int(input("entter the number"))
def area_of_circle(radius):
  area=3.14*radius**2
  print(area)
area_of_circle(radius)

entter the number10
314.0