In [ ]:
#1 print hello python
print("Hello,Python!")

Hello,Python!

In [ ]:
#2 create a program that takes a users name as input and print a personlized greeting
name=input("enter your name: ")
print("Hello",name)

enter your name: utkarsha
Hello utkarsha

In [ ]:
#3 program to check if a given number is even or odd
num=int(input("enter a number: "))
if num%2==0:
    print(num,"Given number is even number.")
else:
  print(num,"Given number is odd number.")

enter a number: 3
3 Given number is odd number.

In [ ]:
#4 find sum of numbers from 1 to 10 using for loop
sum=0
for i in range(1,11):
    sum+=i
print("sum of numbers from 1 to 10 is:",sum)

sum of numbers from 1 to 10 is: 55

In [ ]:
#5 write while loop that print numbers from 1 to 5
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [ ]:
#6 program that takes a number and prints its multiplication table using for loop
num=int(input("enter a number:"))
for i in range(1,6):
    print(num,"*",i,"=",num)

enter a number:4
4 * 1 = 4
4 * 2 = 4
4 * 3 = 4
4 * 4 = 4
4 * 5 = 4

In [ ]:
#7 create a program to find the factorial of a number using for loop
num=int(input("enter the number:"))
fact=1
for i in range(1,num+1):
    fact*=i
print("factorial of ",num, "is", fact)

enter the number:5
factorial of  5 is 120

In [ ]:
#8 program to calculate area of circle using function
import math
def area_of_circle(radius):
    area=math.pi*radius**2
    return area
radius=float(input("enter the radius:"))
area=area_of_circle(radius)
print("area of circle is: ",area)

enter the radius:25
area of circle is:  1963.4954084936207

In [ ]:
#9 write a lambda function to multiply two numbers
mul=lambda x,y:x*y
mul(3,2)

6

In [ ]:
#10 create a list of integers and find the largest and smallest numbers in the list
x=[23,34,345,988,90,5,332,38]
print("Largest number is :",max(x))
print("Smallest number is :",min(x))

Largest number is : 988
Smallest number is : 5

In [ ]:
#11 program to count the number of even and odd numbers in a list
x=[23,34,1,2,56,78,85,34]
even_count=0
odd_count=0
for i in x:
    if i%2==0:
        even_count+=1
    else:
        odd_count+=1
print("Even number from list",even_count)
print("odd number from list",odd_count)

Even number from list 5
odd number from list 3

In [ ]:
#12 create program to check if an element exits in tuple
x=("apple","banana","cherry","grapes")
if "banana" in x:
  print("banana is exits in tuple")
else:
  print("banana is not exits in tuple")

banana is exits in tuple

In [ ]:
#13 write a program to add two tuple
x=("a","e","i","o","u")
y=("A","E","I","O","U")
z=x+y
print(z)

('a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U')

In [ ]:
#14 create a dictionary that stores student names as keys and their marks as values
clg={"utkarsha":89,
     "aryan":90,
     "ayush":98}
print(clg)

{'utkarsha': 89, 'aryan': 90, 'ayush': 98}

In [ ]:
#15 program ti sort a list of numbers in ascending order
x=[23,32,45,67,39,69,89]
x.sort()
print(x)

[23, 32, 39, 45, 67, 69, 89]

In [ ]:
#16 program to reverse a string
x="utkarsha"
print(x[::-1])

ahsraktu

In [ ]:
#17 create a set of numbers and check if a specific number is present in the set
x={"a","b","c","d","e"}
if "e"in x:
  print("e is present in set")
else:
  print("e is not present in set")

e is present in set

In [ ]:
#18 program to find the union of two set
a={1,2,3,4,5}
b={6,7,8,9,10}
c=a.union(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#19 intersection of two set
x={"apple","banana","cherry"}
y={"name","goole","apple"}
z=x.intersection(y)
print(z)

{'apple'}

In [ ]:
#20 create a funtion that return the square of given number
def square(x):
    return x**2
print(square(2))

4

In [ ]:
#21 find the sum of all element in list
x=[1,2,3,4,5]
sum=0
for i in x:
    sum+=i
print(sum)

15

In [ ]:
#22 create a list of string and concatenate all the string into one
x=["a","b","c","d"]
y=["e","f","g","h"]
z=x+y
print(z)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
x=["a","b","c","d"]
y="".join(x)
print(y)

abcd

In [ ]:
#23 program to convert tuple into list
x=("xyz","abc","efg")
y=list(x)
print(y)

['xyz', 'abc', 'efg']

In [ ]:
#24 create a program that takes two list and return their intersection
x=["a","b","c","d"]
y=["b","e","d","f"]
z=set(x).intersection(y)
print(z)

{'d', 'b'}

In [ ]:
#25 program to count the frequency of each character in a string
x="utkarsha"
freq={}
for i in x:
    if i in freq:
        freq[i]+=1
    else:
        freq[i]=1
print(freq)

{'u': 1, 't': 1, 'k': 1, 'a': 2, 'r': 1, 's': 1, 'h': 1}

In [ ]:
#26 write a function to check if a number is positive,negative,or zero
x=int(input("enter the number: "))
if x>0:
  print("number is positive")
elif x<0:
  print("number is negative")
else:
  print("number is zero")

enter the number: 5
number is positive

In [ ]:
#27 create a dictionary with fruit names as keys and their colors as values
fruits={"apple":"red","banana":"yellow","cherry":"red","grapes":"green"}
print(fruits)

{'apple': 'red', 'banana': 'yellow', 'cherry': 'red', 'grapes': 'green'}

In [ ]:
#28 write a program to check if a string is a palindrome
x="pop"
if x==x[::-1]:
  print("string is palindrome")
else:
  print("string is not palindrome")

string is palindrome

In [ ]:
#29 program to find the length of a list without using the len() function
x=[1,2,3,4,5]
count=0                  #count is used for finding length
for i in x:
    count+=1
print(count)

5

In [ ]:
#30 write a function to convert a list of intergers into a tuple
x=[1,2,3,4,5,6,7]
y=tuple(x)
print(y)

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
#31 create a program that generates a list of numbers from 1 to 20 using a loop
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#32 write a lambda function to find the square of number
square=lambda x:x**2
print(square(3))

9

In [ ]:
#33 write a function to check if a number is prime
num=int(input("enter the number: "))
if num>1:
   for i in range(2,num):
      if num%i==0:
        print(num,"is not prime number")
        break
      else:
        print(num,"is prime number")
        break

else:
  print(num,"is not prime number")

enter the number: 23
23 is prime number

In [ ]:
#34 print the fibonacci sequence up to a given number
n=int(input("enter the number:"))
a=0
b=1
print(a)
print(b)
for i in range(2,n):
   c=a+b
   print(c)
   a=b
   b=c

enter the number:5
0
1
1
2
3

In [ ]:
#35 write a program to sort a list of string in alphabetical order
x=["utkarsha","aryan","ayush","dhruva"]
x.sort()
print(x)

['aryan', 'ayush', 'dhruva', 'utkarsha']

In [ ]:
#36 create a set  and add element to it using a loop
x={"a","b","c","d","e"}
for i in range(1,6):
    x.add(i)
print(x)

{1, 2, 3, 4, 5, 'd', 'a', 'e', 'c', 'b'}

In [ ]:
#37 program to remove dupicates from list
x=[1,2,3,2,3,4,5,5,6,7]
z=set(x)
print(z)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
#38 find max and min element from dictionary
x={"a":10,"b":20,"c":30,"d":40}
max=max(x.values())
min=min(x.values())
print("maximum value is",max)
print("minimum value is",min)

maximum value is 40
minimum value is 10

In [ ]:
#39 create a program that reverses a list of number
x=[1,2,3,4,5]                   #reverse is used for reversing list
x.reverse()
print(x)

[5, 4, 3, 2, 1]

In [ ]:
#40 program to find the sum of even numbers from 1 to 50
sum=0
for i in range(1,51):
   if  i%2==0:
    sum+=i
print(sum )

650

In [ ]:
#41 program to count the number of vowels in a string
x="utkarsha mande"
count=0
for i in x:
    if i in "aeiouAEIOU":
        count+=1
print(count)

5

In [ ]:
#42 find second largest number in list
x=[84,54,23,59,34,78,9]
x.sort()
print(x[-2])

78

In [ ]:
#43 write a function to check if a given is an anagram of another string
def check(a1,b2):
    if (sorted(a1)==sorted(b2)):
        print("anagram")
    else:
        print("not anagram")
a1="pot"
b2="top"
check(a1,b2)

anagram

In [ ]:
#44 creates a program that sorts a dictionary by its values
x={"car":"enova","color":"gray","brand":"tata"}
y=sorted(x.values())
print(y)

['enova', 'gray', 'tata']

In [ ]:
#45 write a program to remove all occurances of a specificed element from a list
x=[1,2,3,4,5]
x.remove(3)
print(x)

[1, 2, 4, 5]

In [ ]:
#46 find sum of digits of a given number
x=int(input("enter the number"))
sum=0
while x>0:
    digits=x%10
    sum+=digits
    x//=10
print(sum)

enter the number 23425
16

In [ ]:
#47 create a lambda function to check if a number is even or odd
even_odd=lambda x:"even" if x%2==0 else "odd"
print(even_odd(4))

even

In [ ]:
#48 write a function to merge two dictionaries
#in dictionary ** arbitary operator is used
x={"a":1,"b":2,"c":3,"d":4}

y={"e":5,"f":6,"g":7,"h":8}
c={**x,**y}

print(c)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8}

In [ ]:
#49 create a list comphrension to generate squares of numbers from 1 to 10.
for i in range(1,11):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
#50 find commom elements between two list
x=[1,2,3,4,5]
y=[4,5,6,7,8]
z=set(x).intersection(y)
print(z)

{4, 5}

In [ ]:
#51 create a program to check if a list is empty
x=[]
if not x:
  print("list is empty")
else:
  print("list is not empty")

list is empty

In [ ]:
#52 program to find the cumulative sum of list
x=[1,2,3,4,5]
cum_sum=[]
sum=0
for i in x:
    sum+=i
    cum_sum.append(sum)
print(cum_sum)

[1, 3, 6, 10, 15]

In [ ]:
#53 write a function to count the number of words in a string
a="utkarsha"
print(len(a))

8

In [ ]:
#54 create a program to find the longest words in a string
x="dhruva is a good girl"
y=max(x)
print(y)

v

In [ ]:
#55 write a function that return the first non repeated character in a string
x="utkarsha"
for i in x:
  if x.count(i)==1:
     print(i)
     break
  else:
    print("non repeated character in string")

u

In [ ]:
#56 create program that checks if two sets are disjoint
x={1,2,3,4,5}
y={6,7,8,9,10}
if x.isdisjoint(y):
  print("two sets are disjoint")
else:
  print("two sets are not disjoint")

two sets are disjoint

In [ ]:
#57 write a program to remove the nth occurance of a word from a list
x={"a","b","c","d","e"}

x.remove("b")
print(x)

{'a', 'd', 'e', 'c'}

In [ ]:
#58 function to convert aq list of tuple into a dictionary
x=[("a",1),("b",2),("c",3)]
y=dict(x)
print(y)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
#59 create a program that generates a list of even numbers using a loop and lambda function
even_numbers=list(filter(lambda x:x%2==0,range(1,21)))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#60 program to check if a tuple is empty
x=()
if not x:
  print("tuple is empty")
else:
  print("tuple is not empty")

tuple is empty

In [ ]:
#61 create a progrm to merge two lists without dupicates
x=[1,2,3,4,5]
y=[4,5,6,7,8]
z=set(x).union(y)
print(z)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#62 write a function to find the factorial of a number using recursion
#using recursion
def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)
print(factorial(5))

120

In [ ]:
#63 program to convert a string to lowercase without using built-in functions
x="UTKARSHA"
y=""
for i in x:
  if ord(i)>=65 and ord(i)<=97:
    y+=chr(ord(i)+32)
  else:
    y+=i
print(y)

utkarsha

In [ ]:
#64 find common keys in two dictinaries
x={"name":"ukarsha","company":"baap "}
y={"name":"utkarsha","age":20}
z=set(x.keys()).intersection(y.keys())
print(z)

{'name'}

In [ ]:
#65 write a program to find the sum of elements in a nested list
x=[[1,2,3],[4,5,6],[7,8,9]]
sum=0
for i in x:
  for j in i:
    sum+=j
print(sum)

45

In [ ]:
#66 function to find index of an element in a list
x=[1,2,3,4,5]
y=x.index(4)
print(y)

3

In [ ]:

#67 program to check if a number is palindrome
x=101
if x==x[::-1]:
  print("number is palindrome")
else:
  print("number is nit palindrome")

TypeError: 'int' object is not subscriptable

In [ ]:
#68 write a program to replace vowels in a string with a specified character
x="utkarsha"
y=""
for i in x:
  if i in "aeiouAEIOU":
    y+="*"
  else:
    y+=i
print(y)

*tk*rsh*

In [ ]:
#69 create a function to count the number of uppercase and lowercase letters in a string
x="Utkarsha"
upper=0
lower=0
for i in x:
  if ord(i)>=65 and ord(i)<=90:
    upper+=1
  elif ord(i)>=97 and ord(i)<=122:
    lower+=1
print("upper case letters are",upper)
print("lower case letters are",lower)

upper case letters are 1
lower case letters are 7

In [ ]:
#70 write program to find the mode of list of numbers.
def mode(x):
    freq={}
    for i in x:
        if i in freq:
            freq[i]+=1
        else:
            freq[i]=1
    max_freq=max(freq.values())
    return x
x=[1,2,3,2,3,4,5,5,6,7]
print(mode(x))

[1, 2, 3, 2, 3, 4, 5, 5, 6, 7]

In [ ]:
#71 create lambda function to find the product of two numbers
product=lambda a,b:a*b
print(product(2,4))

8

In [ ]:
#72 write a program to create a new list with elements that are commom to two given lists
x=[1,2,3,4,5]
y=[5,6,7,8,2]
z=set(x).intersection(y)
print(z)

{2, 5}

In [ ]:
#73 write a program to remove all the vowels from a string
x="utkarsha"
y=""
for i in x:
  if i in "aeiouAEIOU":
    y+=""
  else:
    y+=i
print(y)

tkrsh

In [ ]:
#74 create a function to reverse a list of tuple
x=[(1,2),(3,4),(5,6)]
y=list(reversed(x))
print(y)

[(5, 6), (3, 4), (1, 2)]

In [ ]:
#75 write a program to create a dictionary from two list
x=["a","b","c"]
y=[1,2,3]
z=dict(zip(x,y))
print(z)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
#76 write a function to find the GCD (greate common divisor)of two number
def gcd(a,b):
  if b==0:
    return a
  else:
    return gcd(b,a%b)
print(gcd(12,18))

6

In [ ]:
#77 crete a program to check if a string contain only digits
x="12345"
if x.isdigit():
  print("string contain only digits")
else:
  print("string does not contain only digits")

string contain only digits

In [ ]:
#78 write program to sort a list of tuple based on the second element
x=[("a",1),("b",2),("c",3)]
x.sort(key=lambda x:x[1])
print(x)

[('a', 1), ('b', 2), ('c', 3)]

In [ ]:
#79 create a function to check if a list of numbers is sorted in a asecending order
x=[1,2,3,4,5]
if x==sorted(x):
  print("list is sorted in ascending order")
else:
  print("list is not sorted in ascending order")

list is sorted in ascending order

In [ ]:
#80 write a program to split a list into two parts,where the first part contains even numbers and second part contain odd numbers
x=[1,2,3,4,5,6,7,8,9,10]
even=[]
odd=[]
for i in x:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)
print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]